.loader:after {
    content: "";
    display: block;
    font-size: 8px;
    border: 6px solid #004080;
    border-right-color: rgba(0, 64, 128, 0);
    transform: translateZ(0);
    animation: spiner 1.5s infinite cubic-bezier(0.53, 0.21, 0.57, 0.85), colors 4s infinite cubic-bezier(0.45, -0.03, 1, 0.77);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  @keyframes colors {
    0% {
      border-color: #F1F2F2;
      border-bottom-color: transparent;
   }
    33% {
      border-color: #E6E7E8;
      border-bottom-color: transparent;
   }
    66% {
      border-color: #D1D3D4;
      border-bottom-color: transparent;
   }
    100% {
      border-color: #BCBEC0;
      border-bottom-color: transparent;
   }
  }
  @keyframes spiner {
    0% {
      transform: rotate(0deg);
   }
    100% {
      transform: rotate(720deg);
   }
  }