.techs {
  background: rgba(245, 245, 245, 1);
}

@media screen and (max-width: 450px) {
  .techs {
    background: rgba(255, 255, 255, 1);
  }
}

.techs__title {
  margin: 0;
  margin-top: 90px;
  margin-bottom: 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .techs__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }
}

.techs__subtitle {
  max-width: 460px;
  font-weight: 400;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .techs__subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
  }
}

.techs__list {
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .techs__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
}

.techs__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background: rgba(232, 232, 232, 1);
  margin-right: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .techs__list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
}
